@font-face {
    font-family: "Arial";
    font-weight: 400;
    src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Georgia";
    font-weight: 400;
    src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
}